extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="/new") New Message

  #container.col
    each message in messages 
      .s 
        h3= message.user
        p= message.text 
        p= `${message.added.getDate()}/${message.added.getMonth()+1}/${message.added.getFullYear()}`
